.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 15px 30px;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffcc00;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
  }
  
  .nav-links .active {
    border-bottom: 2px solid orange;
  }
  
  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  .login {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signup {
    /* background-color: #007bff; */
    background-color: #7e2ec5;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .signup:hover {
    background-color: #0056b3;
  }
  
  .active-link {
    border-bottom: 2px solid blue;
    color: blue;
    font-weight: bold;
  }